<div class="comments__card">
    <%- include('comment_profile.ejs', {
        name: comment.commenter.name,
        image: comment.commenter.image
    }) %>
    <div class="comment__card__title">
      <h4><%= comment.title %></h4>
    </div>
    <div class="comment__card__tags">
      <% if (comment.tags?.mbti) { %>
        <div class="comment__card__MBTI btn-capsule">
          <%= comment.tags.mbti %>
        </div>
      <% } %>
      <% if (comment.tags?.enneagram) { %>
        <div class="comment__card__Enneagram btn-capsule">
          <span> 
            <%= comment.tags.enneagram.split("w")[0] %> 
          </span>
          <img src="/static/wing.png" alt="wing icon">
          <span> 
            <%= comment.tags.enneagram.split("w")[1] %> 
          </span>
        </div>
      <% } %>
      <% if (comment.tags?.zodiac) { %>
      <div class="comment__card__Zodiac btn-capsule">
        <%= comment.tags.zodiac %>
      </div>
      <% } %>
    </div>
    <div class="comment__card__text">
      <%= comment.description %>
    </div>
    <div class="comment__card__action">
      <span class="comment__card__like">
      </span>
      <span class="comment__card__like-count"><%= comment.like %></span>
    </div>
  </div>