<%
  const options = {
    mbti: ['INFP', 'INFJ', 'ENFP', 'ENFJ', 'INTJ', 'INTP', 'ENTP', 'ENTJ', 'ISFP', 'ISFJ', 'ESFP', 'ESFJ', 'ISTP', 'ISTJ', 'ESTP', 'ESTJ'],
    enneagram: ['1w2', '2w3', '3w2', '3w4', '4w3', '4w5', '5w4', '5w6', '6w5', '6w7', '7w6', '7w8', '8w7', '8w9', '9w8', '9w1'],
    zodiac :  ['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Scorpio', 'Sagittarius', 'Capricorn', 'Aquarius', 'Pisces']
  }
%>
<div id="voting-box" class="comment-section__voting-box hidden">
    <div class="comments__card">
      <%- include('comment_profile.ejs', {
          name: "Daniel Craig",
          image: "/static/Elon_musk.png"
      }) %>
      <form action="/comments" method="POST">
        <input name="title" class="voting-box__title" type="text" placeholder="Title">
        <div class="voting-box__tags">
          <select class="voting-box__mbti" name="mbti" id="mbti">
            <option value="">Select an option</option>
            <% options.mbti.forEach(function(m) { %>
              <option value="<%= m %>"><%= m %></option>
            <% }); %>
          </select>
          <select class="voting-box__enneagram" name="enneagram" id="enneagram">
            <option value="">Select an option</option>
            <% options.enneagram.forEach(function(m) { %>
              <option value="<%= m %>"><%= m %></option>
            <% }); %>
          </select>
          <select class="voting-box__zodiac" name="zodiac" id="zodiac">
            <option value="">Select an option</option>
            <% options.zodiac.forEach(function(m) { %>
              <option value="<%= m %>"><%= m %></option>
            <% }); %>
          </select>
        </div>
        <textarea name="description" class="voting-box__text" name="" id="" cols="30" rows="2"  placeholder="Share your typology reasoning by commenting here"></textarea>
        <div class="voting-box__action">
          <button class="voting-box__submit-btn" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" fill="#c4c4c4" width="24" height="24">
              <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>