<div class="comments__card">
    <div class="comments__card__profile">
      <div class="comments__card__avatar">
        <img src="<%= comment.commenter.image %>" alt="">
      </div>
      <div class="comment__card__name">
        <%= comment.commenter.name %>
      </div>
    </div>
    <div class="comment__card__title">
      <h4><%= comment.title %></h4>
    </div>
    <div class="comment__card__badges">

    </div>
    <div class="comment__card__text">
      <%= comment.description %>
    </div>
    <div class="comment__card__action">
      <span class="comment__card__like">
      </span>
      <span class="comment__card__like-count"><%= comment.like %></span>
    </div>
  </div>